# Introducción a Estadística by M.Sc. Emerson D. Norabuena Figueroa
- Insdustria Car - Repositorio

## 1. Acerca del conjunto de datos

Contexto

El conjunto de datos mtcars es empleada a fin de informar de los atributos que fijan posibles métricas para el analista de datos - junior
Objetivo: Conocer los patrones a partir de la información recopilada para aprender y simular técnicas de análisis de datos sobre un entorno de desarrollo. 
Los atributos de esta base de datos son:

1. xxxxxxxxx
2. xxxxxxx
3. xxxxxx
4. xxxxx
5. xxxxxxx
6. xxxxx

Contenido

1. Load and check data
2. Data visualization
3. Feature Engineering
4. Modeling Train - Test Split
5. Standarization

In [1]:
# Importación de paquetes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from sklearn.preprocessing import LabelEncoder

1. Load and check data

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Emerson2021/2023/main/mtcars.csv', sep=',')

In [3]:
data.head()

  model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0      Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1  Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1...
2   Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3  Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44...
4  Hornet Sportabout,18.7,8,360,175,3.15,3.44,17....

In [9]:
data.shape

(891, 12)

In [10]:
data.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [11]:
print(sum(data.duplicated()))

0

In [12]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [14]:
na_counts = pd.DataFrame(data.isna().sum(),columns=["NA Counts"]).reset_index()
na_counts = na_counts.rename(columns={'index': 'Column Name'})
print(na_counts)

    Column Name  NA Counts
0   PassengerId          0
1      Survived          0
2        Pclass          0
3          Name          0
4           Sex          0
5           Age        177
6         SibSp          0
7         Parch          0
8        Ticket          0
9          Fare          0
10        Cabin        687
11     Embarked          2